<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fromits.app.repository.DevoteRepository">


    <select id="select" resultType="DevoteDto">
        SELECT *
        FROM devote
    </select>



    <insert id="insert" parameterType="DevoteDto">
        INSERT INTO devote VALUES (0, #{proId}, 0)
    </insert>

    <update id="update" parameterType="DevoteDto">
        UPDATE user
        SET password=#{password},
            email=#{email}
        WHERE userId = #{user_id}
    </update>

    <update id="getStart" parameterType="Integer">
        UPDATE devote
        SET devote_state = 1
        WHERE devote_id = #{param1}
    </update>


    <delete id="delete" parameterType="Integer">
        DELETE
        FROM devote
        WHERE devote_id = #{param1}
    </delete>

    <select id="getDevoteId" resultType="Integer">
        SELECT devote_id
        FROM devote
        where pro_id = #{param1}
    </select>

    <select id="selectOne" parameterType="Integer" resultType="DevoteDto">
        SELECT *
        FROM devote
        WHERE devote_id = #{param1}
    </select>

    <!--조인을 통해 약속아이디를 얻어옴-->
    <select id="getProId" parameterType="Integer" resultType="DevoteDto">
        select d.pro_id
        from ( SELECT dc.place_name, dc.place_address, dc.candidate_id, v.devote_id, COUNT(v.devote_id) AS total_votes, dc.pro_now AS registration_date
               FROM devote_candidate dc
                        JOIN vote v ON dc.devote_id = v.devote_id
               WHERE dc.devote_id = #{devoteId}
               GROUP BY dc.candidate_id, dc.place_name, dc.pro_now
               ORDER BY total_votes DESC, dc.pro_now ASC
                   LIMIT 1) a
                 join devote d
                      on a.devote_id = d.devote_id;
    </select>
</mapper>
