<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fromits.app.repository.GroupRepository">
    <select id="getMyGroup" parameterType="promgroupDto">
        select p.group_id as group_id, p.group_name as group_name
        from prom_group p join (select * from group_member where user_id = #{userId}) m
        where p.group_id = m.group_id;
    </select>
    <select id="selectOne" resultType="promgroupDto">
        SELECT *
        FROM prom_group
        WHERE group_id = #{groupId}
    </select>
    <insert id="newGroup" parameterType="PromgroupDto" useGeneratedKeys="true"
            keyProperty="groupId">
        insert into prom_group(group_name) values(#{groupName});
    </insert>

    <select id="getPromisebyGroupId" parameterType="PromiseDto">
        SELECT *
        FROM promise
        WHERE group_id = #{param1}
    </select>

    <select id="getGroupById" parameterType="PromgroupDto">
        select a.group_id, a.group_name
        from prom_group a join (SELECT distinct(group_id)
                                FROM group_member
                                where user_id = #{param1}) b on (a.group_id = b.group_id);
    </select>

    <select id="getCandidateGroupById" parameterType="devoteCandidateDto">
        select * from devote_candidate a join
                      (select devote_id from devote  a
                                                 join (select pro_id
                                                       from promise
                                                       where group_id= #{param1}) b on (a.pro_id = b.pro_id)) b on (a.devote_id = b.devote_id)
    </select>
</mapper>