<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fromits.app.repository.GroupRepository">
    <select id="select" resultType="promgroupDto">
        SELECT *
        FROM prom_group
    </select>
    <insert id="newGroup" parameterType="PromgroupDto" useGeneratedKeys="true"
            keyProperty="groupId">
        insert into prom_group(group_name) values(#{groupName});
    </insert>
</mapper>