<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fromits.app.repository.GroupmemberRepository">
    <insert id="newGroupMember" parameterType="map">
        INSERT INTO group_member (group_id, user_id) VALUES (#{groupId}, #{userId});
    </insert>

    <select id="getGroupMember" parameterType="Integer" resultType="groupMemberDto">
        select user_id from group_member where group_id=#{groupId};
    </select>
</mapper>