<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fromits.app.repository.PromiseRepository">
    <insert id="insert" parameterType="PromiseDto" useGeneratedKeys="true" keyProperty="proId" >
        insert into promise(pro_id, group_id, pro_name, pro_desc, pro_lat, pro_lon, pro_date, candidate_id) values(0, #{groupId}, #{proName},#{proDesc}, #{proLat}, #{proLon}, NOW(), null);
    </insert>
    <!--확정된 약속 후보들 가져오는 거-->
    <select id = "getPromise2" parameterType="devoteCandidateDto">
        SELECT * from devote_candidate d join (SELECT candidate_id from promise
                                               where group_id = (SELECT group_id FROM group_member
                                                                 where user_id= #{param1})) b on (d.candidate_id = b.candidate_id)
    </select>

    <select id="selectOne" resultType="PromiseDto">
        SELECT *
        FROM promise
        WHERE pro_id = #{param1}
    </select>

    <select id = "getPromise" parameterType="PromiseDto">
        SELECT * from promise
        where group_id = (SELECT group_id FROM group_member
                          where user_id=#{param})
    </select>

    <select id="getCount" resultType="Integer">
        SELECT count(user_id)
        FROM group_member
        WHERE group_id = (
            SELECT group_id
            FROM promise
            WHERE pro_id = (
                SELECT pro_id
                FROM devote
                WHERE devote_id = #{param1}
            )
        )
          AND user_id NOT IN (
            SELECT DISTINCT user_id
            FROM devote_candidate
            WHERE devote_id = #{param1}
        );
    </select>

    <!--투표 결과 구하기-->
    <select id="finalplace" parameterType="Integer">
        SELECT dc.place_name, dc.place_address, dc.candidate_id, v.devote_id, COUNT(v.devote_id) AS total_votes, dc.pro_now AS registration_date
        FROM devote_candidate dc
                 JOIN vote v ON dc.devote_id = v.devote_id
        WHERE dc.devote_id = #{devoteId}
        GROUP BY dc.candidate_id, dc.place_name, dc.pro_now
        ORDER BY total_votes DESC, dc.pro_now ASC
            LIMIT 1;
    </select>

    <!--투표된 최종 약속 장소의 아이디를 약속 테이블에 저장-->
    <update id="updateResult" parameterType="map">
        update promise set candidate_id=#{candidateId} where pro_id=#{proId};
    </update>

    <!--최종약속 만들기 위해 이전 필요한 정보들 조인해서 가져옴 -->
    <select id="finalPromiseInfo" parameterType="Integer" resultType="FinalPromiseDto">
        SELECT d.place_address, a.pro_name, a.pro_desc, a.group_name
        FROM devote_candidate d
                 JOIN (
            SELECT p.pro_id, p.pro_name, p.pro_desc, p.group_id, g.group_name, p.candidate_id
            FROM promise p
                     JOIN prom_group g ON p.group_id = g.group_id
        ) a ON d.candidate_id = a.candidate_id
        WHERE pro_id = #{proId};
    </select>

</mapper>